@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
}

.btn {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
}

.dropdown-menu {
    width: 25% !important;
}

.dropdown-item {
    padding: 0px 5px !important;
    font-size: 18px !important;
}

.card_code {
    border-color: #212550;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#icona_indietro {
    color: #212550 !important;  
}

#immagine_store{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
    border: none;
    background: none;
}