body {
    font-family: "Quicksand", sans-serif;
    font-weight: 1000;
    font-style:normal;
    background:rgb(231, 232, 245); /* fare background fisso e scorrimento degli elementi*/
}

.search-bar {
    background-color: #d1dffe;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#tasto-ricerca {
    background-color: #d1dffe;
    border-radius: 30px;
}

#bottone-ricerca {
    border-radius: 30px;
}

#bottone-ricerca:hover, #bottone-ricerca1:hover {
    border-radius: 30px;
    background-color: #4e6597;
    color: #d1dffe;
}

.ricerca {
    margin-bottom: -10px;
}

  th {
    text-align: left;
  }
  tr a {
    display: block;
    word-wrap: break-word;
  }
  tr th:nth-child(1) a {
    width: 10ch;
  }

 /* Blocco schede */
 .flex-container { 
  display: grid;
  justify-content:  space-evenly;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  
}


  .carta {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    padding: 8px 15px;
    margin: 10px 2px;
    background-color: #4e6597;
    border-radius: 8px;
    width: 180px;
    height: 120px;
    box-shadow: #405582 0px 3px 15px;
    transition: transform 0.2s;
  }

  .carta:hover{
  Transform: scale(1.05);
}


  .logo-container {
  height: 100px;               
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  overflow: hidden;  
  }

  .logo {
  margin-top: 15px;
  height: 50px;
  object-fit: contain;
  }

  .discover_more {
    display: flex;
    justify-content: center;
  }

  a {
    color: lightgray;
    text-decoration: none;

  }


